NEXT_PUBLIC_SUPABASE_URL=https://lfadsjnhpgocmhyrbcrz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmYWRzam5ocGdvY21oeXJiY3J6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzMDQ5MjAsImV4cCI6MjEwNDg4MDkyMH0.1kWSUtRToVtgAEb_4f_lKXFKbsj1HnYwvHeZTY7FhAE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmYWRzam5ocGdvY21oeXJiY3J6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTMwNDkyMCwiZXhwIjoyMTA0ODgwOTIwfQ.VgQc7VAlyOxz4ltiZdtDV_R_DWn6CMaZ7IBZviDgRWo
